

.calculator{
    width: 400px;
    height: 750px;
    background-color: rgb(30, 30, 30);  
    color: white;
}

.calculator-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    height: 3%;
}

.calculator-display{
    height: 32%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.main-disp{
    height: 20%;
    width: 100%;
    font-size: xx-large;
    text-align: right;
}

.side-disp{
    height: 20%;
    width: 100%;
    font-size: small;
    text-align: right;
}

.calculator-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 19%;
}

.calculator-buttons button{
    width: 24%;
    height: 100%;
    border-radius: 10%;
    color: white;
}

.button-gray{
    background-color: rgb(100, 100, 100);
}

.button-black{
    background-color: rgb(40, 40, 40);
}

.button-green{
    background-color: rgb(9, 123, 114);
}

button:hover{
    background-color: rgb(170, 170, 170);
}

.button-green:hover{
    background-color: rgb(11, 187, 174);
}

